<h1><%= @album.title %></h1>
<h2>by <%= link_to @album.band.name, band_url(@album.band) %></h2>
<ul>
  <% @album.tracks.each do |track| %>
  <li><%= link_to track.song, track_url(track) %>
  <% end %>
</ul>
<div><strong><%= @album.album_type %> Album</strong></div>

<br>
<%= button_to "Add A Track", new_album_track_url(@album), method: :get %>
<%= button_to "Destroy", album_url(@album), method: :delete %>
<%= button_to "Edit", edit_album_url(@album), method: :get %>
